$orange: (
  light: (
    1: #fefcfb,
    2: #fff7ed,
    3: #ffefd6,
    4: #ffdfb5,
    5: #ffd19a,
    6: #ffc182,
    7: #f5ae73,
    8: #ec9455,
    9: #f76b15,
    10: #ef5f00,
    11: #cc4e00,
    12: #582d1d,
  ),

  light-alpha: (
    1: #c0400004,
    2: #ff8e0012,
    3: #ff9c0029,
    4: #ff91014a,
    5: #ff8b0065,
    6: #ff81007d,
    7: #ed6c008c,
    8: #e35f00aa,
    9: #f65e00ea,
    10: #ef5f00,
    11: #cc4e00,
    12: #431200e2,
  ),

  dark: (
    1: #17120e,
    2: #1e160f,
    3: #331e0b,
    4: #462100,
    5: #562800,
    6: #66350c,
    7: #7e451d,
    8: #a35829,
    9: #f76b15,
    10: #ff801f,
    11: #ffa057,
    12: #ffe0c2,
  ),

  dark-alpha: (
    1: #ec360007,
    2: #fe6d000e,
    3: #fb6a0025,
    4: #ff590039,
    5: #ff61004a,
    6: #fd75045c,
    7: #ff832c75,
    8: #fe84389d,
    9: #fe6d15f7,
    10: #ff801f,
    11: #ffa057,
    12: #ffe0c2,
  ),
);
