$pink: (
  light: (
    1: #fffcfe,
    2: #fef7fb,
    3: #fee9f5,
    4: #fbdcef,
    5: #f6cee7,
    6: #efbfdd,
    7: #e7acd0,
    8: #dd93c2,
    9: #d6409f,
    10: #cf3897,
    11: #c2298a,
    12: #651249,
  ),

  light-alpha: (
    1: #ff00aa03,
    2: #e0008008,
    3: #f4008c16,
    4: #e2008b23,
    5: #d1008331,
    6: #c0007840,
    7: #b6006f53,
    8: #af006f6c,
    9: #c8007fbf,
    10: #c2007ac7,
    11: #b60074d6,
    12: #59003bed,
  ),

  dark: (
    1: #191117,
    2: #21121d,
    3: #37172f,
    4: #4b143d,
    5: #591c47,
    6: #692955,
    7: #833869,
    8: #a84885,
    9: #d6409f,
    10: #de51a8,
    11: #ff8dcc,
    12: #fdd1ea,
  ),

  dark-alpha: (
    1: #f412bc09,
    2: #f420bb12,
    3: #fe37cc29,
    4: #fc1ec43f,
    5: #fd35c24e,
    6: #fd51c75f,
    7: #fd62c87b,
    8: #ff68c8a2,
    9: #fe49bcd4,
    10: #ff5cc0dc,
    11: #ff8dcc,
    12: #ffd3ecfd,
  ),
);
