$plum: (
  light: (
    1: #fefcff,
    2: #fdf7fd,
    3: #fbebfb,
    4: #f7def8,
    5: #f2d1f3,
    6: #e9c2ec,
    7: #deade3,
    8: #cf91d8,
    9: #ab4aba,
    10: #a144af,
    11: #953ea3,
    12: #53195d,
  ),
  light-alpha: (
    1: #aa00ff03,
    2: #c000c008,
    3: #cc00cc14,
    4: #c200c921,
    5: #b700bd2e,
    6: #a400b03d,
    7: #9900a852,
    8: #9000a56e,
    9: #89009eb5,
    10: #7f0092bb,
    11: #730086c1,
    12: #40004be6,
  ),
  dark: (
    1: #181118,
    2: #201320,
    3: #351a35,
    4: #451d47,
    5: #512454,
    6: #5e3061,
    7: #734079,
    8: #92549c,
    9: #ab4aba,
    10: #b658c4,
    11: #e796f3,
    12: #f4d4f4,
  ),
  dark-alpha: (
    1: #b412f90b,
    2: #b744f714,
    3: #c150ff2d,
    4: #bb53fd42,
    5: #be5cfd51,
    6: #c16dfd61,
    7: #c378fd7a,
    8: #c47effa4,
    9: #b661ffc2,
    10: #bc6fffcd,
    11: #d19dff,
    12: #f1ddfffa,
  ),
);
