$ruby: (
  light: (
    1: #fffcfd,
    2: #fff7f8,
    3: #feeaed,
    4: #ffdce1,
    5: #ffced6,
    6: #f8bfc8,
    7: #efacb8,
    8: #e592a3,
    9: #e54666,
    10: #dc3b5d,
    11: #ca244d,
    12: #64172b,
  ),

  light-alpha: (
    1: #ff005503,
    2: #ff002008,
    3: #f3002515,
    4: #ff002523,
    5: #ff002a31,
    6: #e4002440,
    7: #ce002553,
    8: #c300286d,
    9: #db002cb9,
    10: #d2002cc4,
    11: #c10030db,
    12: #550016e8,
  ),

  dark: (
    1: #191113,
    2: #1e1517,
    3: #3a141e,
    4: #4e1325,
    5: #5e1a2e,
    6: #6f2539,
    7: #883447,
    8: #b3445a,
    9: #e54666,
    10: #ec5a72,
    11: #ff949d,
    12: #fed2e1,
  ),

  dark-alpha: (
    1: #f4124a09,
    2: #fe5a7f0e,
    3: #ff235d2c,
    4: #fd195e42,
    5: #fe2d6b53,
    6: #ff447665,
    7: #ff577d80,
    8: #ff5c7cae,
    9: #fe4c70e4,
    10: #ff617beb,
    11: #ff949d,
    12: #ffd3e2fe,
  ),
);
