$sand: (
  light: (
    1: #fdfdfc,
    2: #f9f9f8,
    3: #f1f0ef,
    4: #e9e8e6,
    5: #e2e1de,
    6: #dad9d6,
    7: #cfceca,
    8: #bcbbb5,
    9: #8d8d86,
    10: #82827c,
    11: #63635e,
    12: #21201c,
  ),

  light-alpha: (
    1: #55550003,
    2: #25250007,
    3: #20100010,
    4: #1f150019,
    5: #1f180021,
    6: #19130029,
    7: #19140035,
    8: #1915014a,
    9: #0f0f0079,
    10: #0c0c0083,
    11: #080800a1,
    12: #060500e3,
  ),

  dark: (
    1: #111110,
    2: #191918,
    3: #222221,
    4: #2a2a28,
    5: #31312e,
    6: #3b3a37,
    7: #494844,
    8: #62605b,
    9: #6f6d66,
    10: #7c7b74,
    11: #b5b3ad,
    12: #eeeeec,
  ),

  dark-alpha: (
    1: #00000000,
    2: #f4f4f309,
    3: #f6f6f513,
    4: #fefef31b,
    5: #fbfbeb23,
    6: #fffaed2d,
    7: #fffbed3c,
    8: #fff9eb57,
    9: #fffae965,
    10: #fffdee73,
    11: #fffcf4b0,
    12: #fffffded,
  ),
);
