$amber: (
  light: (
    1: #fefdfb,
    2: #fefbe9,
    3: #fff7c2,
    4: #ffee9c,
    5: #fbe577,
    6: #f3d673,
    7: #e9c162,
    8: #e2a336,
    9: #ffc53d,
    10: #ffba18,
    11: #ab6400,
    12: #4f3422,
  ),

  light-alpha: (
    1: #c0800004,
    2: #f4d10016,
    3: #ffde003d,
    4: #ffd40063,
    5: #f8cf0088,
    6: #eab5008c,
    7: #dc9b009d,
    8: #da8a00c9,
    9: #ffb300c2,
    10: #ffb300e7,
    11: #ab6400,
    12: #341500dd,
  ),

  dark: (
    1: #16120c,
    2: #1d180f,
    3: #302008,
    4: #3f2700,
    5: #4d3000,
    6: #5c3d05,
    7: #714f19,
    8: #8f6424,
    9: #ffc53d,
    10: #ffd60a,
    11: #ffca16,
    12: #ffe7b3,
  ),

  dark-alpha: (
    1: #e63c0006,
    2: #fd9b000d,
    3: #fa820022,
    4: #fc820032,
    5: #fd8b0041,
    6: #fd9b0051,
    7: #ffab2567,
    8: #ffae3587,
    9: #ffc53d,
    10: #ffd60a,
    11: #ffca16,
    12: #ffe7b3,
  ),
);
