$jade: (
  light: (
    1: #fbfefd,
    2: #f4fbf7,
    3: #e6f7ed,
    4: #d6f1e3,
    5: #c3e9d7,
    6: #acdec8,
    7: #8bceb6,
    8: #56ba9f,
    9: #29a383,
    10: #26997b,
    11: #208368,
    12: #1d3b31,
  ),

  light-alpha: (
    1: #00c08004,
    2: #00a3460b,
    3: #00ae4819,
    4: #00a85129,
    5: #00a2553c,
    6: #009a5753,
    7: #00945f74,
    8: #00976ea9,
    9: #00916bd6,
    10: #008764d9,
    11: #007152df,
    12: #002217e2,
  ),

  dark: (
    1: #0d1512,
    2: #121c18,
    3: #0f2e22,
    4: #0b3b2c,
    5: #114837,
    6: #1b5745,
    7: #246854,
    8: #2a7e68,
    9: #29a383,
    10: #27b08b,
    11: #1fd8a4,
    12: #adf0d4,
  ),

  dark-alpha: (
    1: #00de4505,
    2: #27fba60c,
    3: #02f99920,
    4: #00ffaa2d,
    5: #11ffb63b,
    6: #34ffc24b,
    7: #45fdc75e,
    8: #48ffcf75,
    9: #38feca9d,
    10: #31fec7ab,
    11: #21fec0d6,
    12: #b8ffe1ef,
  ),
);
