@use '@/styles/scss/globals' as *;

// Create a custom palette
// https://www.radix-ui.com/colors/custom

$brand-colors: (
  // https://brandfetch.com/angularjs.org
  angularjs: (
      primary: #a6120d,
      secondary: #ffffff,
      tertiary: #273238,

      light: (
        1: #fffcfc,
        2: #fff8f7,
        3: #fdece9,
        4: #ffddd7,
        5: #ffd0c8,
        6: #f9c0b7,
        7: #efada3,
        8: #e59488,
        9: #a6120d,
        10: #940000,
        11: #c73a2e,
        12: #611e17,
      ),

      light-alpha: (
        1: #ff000003,
        2: #ff200008,
        3: #e8230016,
        4: #ff270028,
        5: #ff260037,
        6: #ea200048,
        7: #d31c005c,
        8: #c81a0077,
        9: #a10500f2,
        10: #940000,
        11: #bb0f00d1,
        12: #510800e8,
      ),

      dark: (
        1: #190e0c,
        2: #23110e,
        3: #450403,
        4: #5e0000,
        5: #710000,
        6: #860000,
        7: #a20907,
        8: #d10c0a,
        9: #a6120d,
        10: #8f0303,
        11: #ff9080,
        12: #ffcdc3,
      ),

      dark-alpha: (
        1: #f4000009,
        2: #f7110014,
        3: #fe000038,
        4: #fe000053,
        5: #ff000067,
        6: #fd00007e,
        7: #fe04019c,
        8: #ff0b09ce,
        9: #ff130ba0,
        10: #ff000087,
        11: #ff9080,
        12: #ffcdc3,
      ),
    ),

  // https://brandfetch.com/expressjs.com
  expressjs: (
      primary: #0075c9,
      secondary: #ffffff,
      tertiary: #291e0a,

      light: (
        1: #fbfdff,
        2: #f5f9fe,
        3: #eaf3fd,
        4: #dbecff,
        5: #cbe3fd,
        6: #b7d6f7,
        7: #9dc5ef,
        8: #77aee6,
        9: #0075c9,
        10: #0067ba,
        11: #0376ca,
        12: #0c355b,
      ),

      light-alpha: (
        1: #0080ff04,
        2: #0066e60a,
        3: #006ee715,
        4: #0079ff24,
        5: #0076f634,
        6: #006ee348,
        7: #0069d662,
        8: #0068d188,
        9: #0075c9,
        10: #0067ba,
        11: #0074c9fc,
        12: #002b53f3,
      ),

      dark: (
        1: #07121d,
        2: #0c1927,
        3: #02284a,
        4: #003267,
        5: #003f7a,
        6: #004d8d,
        7: #005ea4,
        8: #0071c5,
        9: #0075c9,
        10: #1168af,
        11: #64b9ff,
        12: #c4e4ff,
      ),

      dark-alpha: (
        1: #0025fd0d,
        2: #0066fb18,
        3: #0070fc3e,
        4: #006cfd5d,
        5: #0079fe71,
        6: #0085ff85,
        7: #008eff9e,
        8: #0090ffc1,
        9: #0092fec6,
        10: #1193feaa,
        11: #64b9ff,
        12: #c4e4ff,
      ),
    ),

  // https://brandfetch.com/nestjs.com
  nestjs: (
      primary: #ea2845,
      secondary: #f9f9f9,
      tertiary: #0e0e10,

      light: (
        1: #fffcfc,
        2: #fff7f7,
        3: #ffeae9,
        4: #ffdad9,
        5: #ffcbca,
        6: #ffbbb9,
        7: #faa6a5,
        8: #f28b8b,
        9: #ea2845,
        10: #db0138,
        11: #d70036,
        12: #6a0c1a,
      ),

      light-alpha: (
        1: #ff000003,
        2: #ff000008,
        3: #ff0c0016,
        4: #ff070026,
        5: #ff050035,
        6: #ff080046,
        7: #f103015a,
        8: #e3000074,
        9: #e60022d7,
        10: #db0037fe,
        11: #d70036,
        12: #63000ff3,
      ),

      dark: (
        1: #170e0e,
        2: #211212,
        3: #3e0f12,
        4: #550512,
        5: #660b19,
        6: #791b24,
        7: #932b33,
        8: #be3944,
        9: #ea2845,
        10: #c5404a,
        11: #ff8e90,
        12: #ffd0ce,
      ),

      dark-alpha: (
        1: #ec000007,
        2: #f4202012,
        3: #fc071731,
        4: #ff001549,
        5: #fd01285c,
        6: #fd273c70,
        7: #fe404f8c,
        8: #fe4757ba,
        9: #ff2b4ae9,
        10: #ff4f5dc1,
        11: #ff8e90,
        12: #ffd0ce,
      ),
    ),

  // https://brandfetch.com/reactresources.com
  react: (
      primary: #1eaaf1,
      secondary: #ffffff,
      tertiary: #22222c,

      light: (
        1: #fafdff,
        2: #f2faff,
        3: #e2f5ff,
        4: #cdefff,
        5: #b6e7ff,
        6: #9ddaff,
        7: #79caff,
        8: #2fb4fb,
        9: #1eaaf1,
        10: #009ee4,
        11: #007bbf,
        12: #003961,
      ),

      light-alpha: (
        1: #0099ff05,
        2: #009dff0d,
        3: #00a8ff1d,
        4: #00aeff32,
        5: #00acff49,
        6: #009fff62,
        7: #009bff86,
        8: #00a3fad0,
        9: #009fefe1,
        10: #009ee4,
        11: #007bbf,
        12: #003961,
      ),

      dark: (
        1: #08121a,
        2: #0d1a23,
        3: #022a40,
        4: #003658,
        5: #004369,
        6: #00517a,
        7: #006391,
        8: #0079b0,
        9: #1eaaf1,
        10: #009ee4,
        11: #5fc0fd,
        12: #c0e7ff,
      ),

      dark-alpha: (
        1: #002bf70a,
        2: #0084f714,
        3: #008efc33,
        4: #008cfd4d,
        5: #0097fd5f,
        6: #00a2fe71,
        7: #00a9fe8a,
        8: #00acfeab,
        9: #1fb4fff0,
        10: #00affee3,
        11: #60c2fffd,
        12: #c0e7ff,
      ),
    ),

  // https://brandfetch.com/vite.dev
  vite: (
      primary: #41d1ff,
      secondary: #dddddd,
      tertiary: #101010,

      light: (
        1: #f9feff,
        2: #f0faff,
        3: #dff7ff,
        4: #ccf1ff,
        5: #b7e8fc,
        6: #9edcf5,
        7: #7ccdeb,
        8: #39b8e0,
        9: #4cd8ff,
        10: #3dcefc,
        11: #00799f,
        12: #004157,
      ),

      light-alpha: (
        1: #00d5ff06,
        2: #00aaff0f,
        3: #00c0ff20,
        4: #00b9ff33,
        5: #00aef548,
        6: #00a3e561,
        7: #009ed983,
        8: #00a4d7c6,
        9: #00c8ffb3,
        10: #00bffbc2,
        11: #00799f,
        12: #004157,
      ),

      dark: (
        1: #061318,
        2: #0b1b21,
        3: #002c3b,
        4: #00394f,
        5: #004760,
        6: #005672,
        7: #006989,
        8: #0082a9,
        9: #41d1ff,
        10: #3dc6f1,
        11: #39cbf9,
        12: #b2eeff,
      ),

      dark-alpha: (
        1: #0051f108,
        2: #009ff412,
        3: #00aaff2d,
        4: #00a9fd43,
        5: #00b3ff55,
        6: #00bbff68,
        7: #00bfff81,
        8: #00c2ffa3,
        9: #41d1ff,
        10: #40d1fff0,
        11: #3ad0fff9,
        12: #b2eeff,
      ),
    ),

  // https://brandfetch.com/vuejs.org
  vuejs: (
      primary: #41b883,
      secondary: #5f8bee,
      tertiary: #223546,

      light: (
        1: #fafefc,
        2: #f3fbf7,
        3: #e3f7ec,
        4: #d2f2e0,
        5: #beead1,
        6: #a5e0c0,
        7: #82d1a8,
        8: #46bc87,
        9: #41b883,
        10: #32ac78,
        11: #008251,
        12: #153c2a,
      ),

      light-alpha: (
        1: #00cc6605,
        2: #00aa550c,
        3: #00b7521c,
        4: #00b6502d,
        5: #00ad4b41,
        6: #01a84d5a,
        7: #00a24e7d,
        8: #00a35ab9,
        9: #00a059be,
        10: #009857cd,
        11: #008251,
        12: #002b17ea,
      ),

      dark: (
        1: #0c130f,
        2: #121b16,
        3: #142d20,
        4: #133b28,
        5: #1a4833,
        6: #23573e,
        7: #2c684b,
        8: #347c5a,
        9: #41b883,
        10: #32ac78,
        11: #5ed29b,
        12: #b1f0ce,
      ),

      dark-alpha: (
        1: #00bb0003,
        2: #29f9850b,
        3: #2bff911e,
        4: #1dff942d,
        5: #38ffa43b,
        6: #4fffaa4b,
        7: #5afdae5e,
        8: #5fffb373,
        9: #56ffb4b3,
        10: #43feaea7,
        11: #70ffbbcf,
        12: #bcffdbef,
      ),
    )
);

@function brands($keys...) {
  @return deep-get($brand-colors, $keys...);
}
