@use '@/styles/scss/globals' as *;

@use '@/styles/scss/variables/palette' as *;
@use '@/styles/scss/variables/brands' as *;

@use 'sass:color';

// Natural pairing
// https://www.radix-ui.com/colors/docs/palette-composition/composing-a-palette

// mauve  : tomato / red / ruby / crimson / pink / plum / purple / violet
// slate  : iris / indigo / blue / sky / cyan
// sage   : mint / teal / jade / green
// olive  : grass / lime
// sand   : yellow / amber / orange / brown

$primary: brands(expressjs);
$gray: slate;

$primary-accent: light;

$success: green;
$warning: amber;
$danger: red;
$info: sky;

$colors: (
  theme: (
    primary: $primary,
    neutral: palette($gray),
    success: palette($success),
    warning: palette($warning),
    danger: palette($danger),
    info: palette($info),
  ),

  bg: (
    canvas: palette($gray, dark, 1),
    page: palette($gray, dark, 2),
    surface: palette($gray, dark, 3),
    surface-2: palette($gray, dark, 5),
    surface-3: palette($gray, dark, 7),
    raised: palette($gray, dark, 2),
    overlay: palette($gray, dark, 3),
    sheet: palette($gray, dark, 2),
    sunken: palette($gray, dark, 1),
  ),

  border: (
    soft: palette($gray, dark-alpha, 5),
    subtle: palette($gray, dark-alpha, 6),
    base: palette($gray, dark-alpha, 7),
    strong: palette($gray, dark, 8),
  ),

  shadow: (
    soft: palette($gray, dark-alpha, 3),
    ambient: palette(black, 3),
    mid: palette(black, 4),
    base: palette(black, 5),
    strong: palette(black, 7),
    anchor: palette(black, 11),
    outline: palette($gray, dark-alpha, 6),
  ),

  text: (
    primary: palette($gray, dark, 12),
    secondary: palette($gray, dark-alpha, 11),
    tertiary: palette($gray, dark-alpha, 10),
    muted: palette($gray, dark-alpha, 8),
  ),
);

@function color($keys...) {
  @return deep-get($colors, $keys...);
}
