@use '@/styles/scss/globals' as *;
@use '@/styles/scss/variables/fonts' as *;

@use 'sass:map';

$prose-line-height: (
  base: 1.5,
  sm: 1.25,
  lg: 2,
);

@function prose-line-height($key) {
  @return token($prose-line-height, $key, 'prose-line-height');
}

$font-size: (
  h1: 5.4rem,
  h2: 3.6rem,
  h3: 2.4rem,
  h4: 1.8rem,
  h5: 1.6rem,
  base: 1.4rem,
  sm: 1.2rem,
);

@function font-size($key) {
  @return token($font-size, $key, 'font-size');
}

$font-weight: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

@function font-weight($key) {
  @return token($font-weight, $key, 'font-weight');
}

$font-family: (
  base: $fonts-inter,
  display: $fonts-outfit,
  code: $font-monospace,
  emphasis: $fonts-merriweather,
);

@function font-family($key) {
  @return token($font-family, $key, 'font-family');
}
