@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$line-height: (
  base: 1.5,
  sm: 1.25,
  lg: 2,
);

$font-size: (
  h1: 5.4rem,
  h2: 3.6rem,
  h3: 2.4rem,
  h4: 1.8rem,
  h5: 1.6rem,
  base: 1.4rem,
  sm: 1.2rem,
);

$font-weight: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

$font-family: (
  base: (
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
  ),
  display: (
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
  ),
  code: (
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    monospace,
  ),
);
