@use '@/styles/globals' as *;

@use 'gray' as *;

@use 'mauve' as *;
@use 'slate' as *;
@use 'sage' as *;
@use 'olive' as *;
@use 'sand' as *;

@use 'tomato' as *;
@use 'red' as *;
@use 'ruby' as *;
@use 'crimson' as *;
@use 'pink' as *;
@use 'plum' as *;
@use 'purple' as *;
@use 'violet' as *;

@use 'iris' as *;
@use 'indigo' as *;
@use 'blue' as *;
@use 'sky' as *;
@use 'cyan' as *;

@use 'mint' as *;
@use 'teal' as *;
@use 'jade' as *;
@use 'green' as *;

@use 'grass' as *;
@use 'lime' as *;

@use 'yellow' as *;
@use 'amber' as *;
@use 'orange' as *;
@use 'brown' as *;
@use 'gold' as *;
@use 'bronze' as *;

@use 'black' as *;
@use 'white' as *;

// Radix UI color scale
// https://www.radix-ui.com/colors

// Scales
// https://www.radix-ui.com/colors/docs/palette-composition/understanding-the-scale

// 1-2    : Backgrounds
// 1  : Main app background
// 2  : Surface area background
// 3-4-5  : Interactive components
// 3  : Normal states
// 4  : Hover states
// 5  : Pressed or Selected states
// 6-7-8  : Borders and seperators
// 6  : Subtle borders on components which are not interactive. eg. sidebars, headers, cards, alerts, and separators.
// 7  : Subtle borders on interactive components
// 8  : Stronger borders on interactive components and focus rings
// 9-10   : Solid Backgrounds
// 9  : Normal state bg
// 10 : Hover state bg
// 11-12  : Acessible Text
// 11 : Low-contrast text
// 12 : High-contrast text

$palette: (
  gray: $gray,

  mauve: $mauve,
  slate: $slate,
  sage: $sage,
  olive: $olive,
  sand: $sand,

  tomato: $tomato,
  red: $red,
  ruby: $ruby,
  crimson: $crimson,
  pink: $pink,
  plum: $plum,
  purple: $purple,
  violet: $violet,

  iris: $iris,
  indigo: $indigo,
  blue: $blue,
  sky: $sky,
  cyan: $cyan,

  mint: $mint,
  teal: $teal,
  jade: $jade,
  green: $green,

  grass: $grass,
  lime: $lime,

  yellow: $yellow,
  amber: $amber,
  orange: $orange,
  brown: $brown,
  gold: $gold,
  bronze: $bronze,

  black: $black,
  white: $white,
);

$neutrals: (
  gray: $gray,

  mauve: $mauve,
  slate: $slate,
  sage: $sage,
  olive: $olive,
  sand: $sand,
);

$accents: (
  tomato: $tomato,
  red: $red,
  ruby: $ruby,
  crimson: $crimson,
  pink: $pink,
  plum: $plum,
  purple: $purple,
  violet: $violet,

  iris: $iris,
  indigo: $indigo,
  blue: $blue,
  sky: $sky,
  cyan: $cyan,

  mint: $mint,
  teal: $teal,
  jade: $jade,
  green: $green,

  grass: $grass,
  lime: $lime,

  yellow: $yellow,
  amber: $amber,
  orange: $orange,
  brown: $brown,
  gold: $gold,
  bronze: $bronze,
);
