@use '@/styles/scss/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body,
#app {
  min-height: 100dvh;
}
