@use '@/styles/scss/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body,
#app {
  min-height: 100dvh;
}

body {
  color: color(text, secondary);
  background: color(bg, canvas);

  font-size: font-size(base);
  font-weight: font-weight(normal);

  font-family: font-family(base);

  line-height: prose-line-height(base);

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
