@use '@/styles/scss/globals' as *;

@use 'sass:map';

body {
  color: var(--color-text);
  background: color(bg-dark, primary);
}

a {
  text-underline-offset: 0.2rem;
  color: color(brand, primary);
}
