// DROPDOWNS
.dropdown-enter-active,
.dropdown-leave-active {
  transition:
    opacity 120ms ease,
    transform 120ms ease;
}

.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(-4px) scale(0.98);
}

.dropdown-enter-to,
.dropdown-leave-from {
  opacity: 1;
  transform: translateY(0) scale(1);
}

// TOOLTIPS
.tooltip-enter-active,
.tooltip-leave-active {
  transition:
    opacity 120ms ease,
    transform 120ms ease;
}

.tooltip-enter-from,
.tooltip-leave-to {
  opacity: 0;
}

.tooltip[data-side='top'].tooltip-enter-from,
.tooltip[data-side='top'].tooltip-leave-to {
  transform: translateY(4px);
}

.tooltip[data-side='bottom'].tooltip-enter-from,
.tooltip[data-side='bottom'].tooltip-leave-to {
  transform: translateY(-4px);
}

.tooltip[data-side='left'].tooltip-enter-from,
.tooltip[data-side='left'].tooltip-leave-to {
  transform: translateX(4px);
}

.tooltip[data-side='right'].tooltip-enter-from,
.tooltip[data-side='right'].tooltip-leave-to {
  transform: translateX(-4px);
}

// MODALS
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.2s ease;
}

.modal-enter-active .app-modal__panel,
.modal-leave-active .app-modal__panel {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .app-modal__panel,
.modal-leave-to .app-modal__panel {
  opacity: 0;
  transform: translateY(-48px);
}
